@font-face {
  font-family: 'Special Gothic Expanded One';
  font-display: swap;
  src: url("../fonts/SpecialGothicExpandedOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Bebas Neue';
  font-display: swap;
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Cal Sans';
  font-display: swap;
  src: url("../fonts/CalSans-Regular.ttf") format("truetype");
}

:root {
    /* Color Palette */
    --bg-color: #ebebff;
    --text-color: #000;

    --heading-color: #5252FF;

    --link-color: #5252FF;
    --link-hover-color: #29bd69;

    --btn-color: #5252FF;
    --btn-hover-color: #29bd69;
    --btn-text-color: #ebebff;

    /* Fonts */
    --site-header-font: 'Special Gothic Expanded One', sans-serif;
    --site-nav-font: 'Bebas Neue', sans-serif;
    --site-font: 'Cal Sans', sans-serif;
}

/* Site Sections ----------------------------------------- */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--site-font);
}

main {
    max-width: 1440px;
    margin: 3em auto;
    width: 90%;
}

header {
  padding-bottom: 0.5em;
}

#navbar {
    background-color: white;
    box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    width: 100%;
    border-radius: 1em;
    font-family: var(--site-nav-font);
}

/* Common Tags --------------------------------------------- */
a {
    color: var(--link-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: var(--btn-hover-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: var(--site-header-font);
    text-transform: uppercase;
}

hr {
    border: solid var(--heading-color);
    border-width: 1px 0 0 0;
}

blockquote {
    padding: 0 20px;
    margin-left: 0;
    border-left: 2px dotted var(--heading-color);
    font-size: 1.1em;
    line-height: 1.6em;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* list with no bullets */
ul.none {
    padding: 0;
    list-style-type: none;
}

/* Main Navigation ---------------------------------------- */
#navbar ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    list-style-type: none;
    padding: 0;
    margin: 0;
    place-items: center;
}

/* stack navbar on mobile */
@media only screen and (max-width: 768px) {
    #navbar ul {
        grid-template-columns: 1fr;
    }
}

#navbar li {
    padding: 5px 0px;
    font-size: 1.2em;
    display: inline-block;
}

#navbar a,
#navbar a:visited {
    text-decoration: none;
}

/* Go To Top button ------------------------------------------*/
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;

    padding: 1em 1em;
    font-size: 18px;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-weight: bold;
}

#topBtn:hover {
    color: var(--btn-text-color);
    background-color: var(--btn-hover-color);
}

/* Alignment classes ---------------------------------------- */
.right {
    float: right;
    margin-left: 1em;
}

.left {
    float: left;
    margin-right: 1em;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}